:root {
    --_brand-color: rebeccapurple;
    --_brand-white: #fefefe;
    --_brand-black: #333333;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Figtree", sans-serif;
    background: var(--_brand-white);
    color: var(--_brand-black);
  }
  
  header,
  main {
    width: min(100%-3rem, 90ch);
    margin-inline: auto;
  }
  
  header {
    display: flex;
    padding-inline: 3rem;
    align-items: center;
    padding-block-end: 1rem;
    margin-block: 1rem;
    border-bottom: 3px solid
      color-mix(in oklab, var(--_brand-color), var(--_brand-black) 60%);
    a:not([class]) {
      color: color-mix(in oklab, var(--_brand-color), var(--_brand-black) 20%);
      padding-block: 1rem;
      padding-inline: 0.5rem;
      transition: 0.2s ease;
      &:hover {
        color: color-mix(in oklab, var(--_brand-color), var(--_brand-black) 40%);
        background: color-mix(
          in oklab,
          var(--_brand-color),
          var(--_brand-white) 70%
        );
      }
    }
    nav {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }
    section {
      display: grid;
      height: 100%;
    }
    .logo {
      padding-inline: 1.2rem;
      padding-block: 0.75rem;
      border-radius: 2rem 0;
      background: color-mix(
        in oklab,
        var(--_brand-color),
        var(--_brand-black) 20%
      );
      color: color-mix(in oklab, var(--_brand-color), var(--_brand-white) 90%);
      font-size: 2rem;
      text-decoration: none;
      width: fit-content;
    }
  }
  
  .button {
    --button-background: var(--_brand-color);
    --button-color: var(--_brand-white);
  
    display: inline-grid;
    place-content: center;
    line-height: 1;
    background: color-mix(
      in oklab,
      var(--button-background),
      var(--_brand-black) 20%
    );
    text-decoration: none;
    color: var(--button-color);
    border: 1px solid
      color-mix(in oklab, var(--button-background), var(--_brand-black) 90%);
    padding-inline: 1.2rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    transition: 0.2s ease;
    &:hover {
      background: color-mix(
        in oklab,
        var(--button-background),
        var(--_brand-white) 10%
      );
    }
    width: fit-content;
    &.secondary {
      --button-background: color-mix(
        in oklab,
        var(--_brand-white),
        var(--_brand-color) 20%
      );
      --button-color: var(--_brand-black);
    }
  }
  
  .call-to-action {
    background: color-mix(in oklab, var(--_brand-color), var(--_brand-white) 90%);
    display: grid;
    padding-block: 4rem;
    padding-inline: 3rem;
    border-radius: 8rem 0;
    h1 {
      font-size: 4rem;
      margin: 0;
      line-height: 1.1;
      text-transform: balance;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
    .actions {
      font-size: 1.2rem;
      display: flex;
      gap: 0.5rem;
    }
  }
  
  .toggles {
    position: absolute;
    bottom: 0;
    background: #eee;
    fieldset {
      display: flex;
      gap: 1rem;
    }
  }
  
  .link-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.25rem;
  }

